#renew_facebook:hover, #renew_facebook:active {
	opacity:0.7;
}

.skin-blue .main-header .navbar, .box.box-solid.box-info > .box-header {
	background-color: #274a9f;
}

.box.box-solid.box-info {
	border-color:#274a9f;
}

.skin-blue .main-header .logo, .skin-blue .main-header .logo:hover, .skin-blue .main-header .logo:active {
	background-color: #fff;
}

#tabella-prenotazioni th {
	border-bottom:2px solid #274a9f;
}

#btn_reminder.loading {
	opacity:0.5;
}

#btn_reminder.loading > span {
	display:none;
}

#btn_reminder > .fa-spin {
	display:none;
}

#btn_reminder.loading > .fa-envelope {
	display:none;
}

#btn_reminder.loading > .fa-spin {
	display:block;
}

.treeview-menu li a:hover, .treeview-menu li a.active {
	background: #3c8dbc;
	color: #FFF;
}


.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a > h4 {
    line-height:40px;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover {
	background:#274a9f;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li > a:hover h4, .navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:hover h4, .navbar-nav > .tasks-menu > .dropdown-menu > li .menu > li > a:hover h4 {
	color:#fef200 !important;
}

.btn_judge {
	display:inline-block;
	margin:0 10px;
}

.btn_judge:hover {
	opacity:0.5;
}

#lista_fb.loading, #lista_in.loading {
	background:#000;
}

#lista_fb.loading_other, #lista_in.loading_other {
	display:none;
}

@media print {
	body {-webkit-print-color-adjust: exact;}
}